/* GENERAL ELEMENTS */

p {
    font-size: 19px;
}

/* HOME BILLBOARD */

.home-billboard {
    height: 300px;
}

/* DESCRIPTION */

.description-container {
    display: table;
}

.description {
    display: table-column;
    background-color: #F2F2F2;
    padding: 60px 50px;
}

.descrip-img {
    display: table-column;
    float: none;
    background: linear-gradient(rgba(10, 10, 10, 0.3), rgba(10, 10, 10, 0.7)),
        url(../images/soldering-workshop.jpg) center no-repeat;
    background-size: cover;
}

@media (max-width: 992px) {
    .description {
        display: block;
        padding: 30px 20px;
    }
    .description p {
        font-size: 17px;
    }
}

/* PROJECTS */

.projects .project {
    text-align: center;
    height: 175px;
    padding: 50px 0;
}

.project .project-title {
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 2px #000000;
    
    transition: .5s ease;
}

.project-description {
    opacity: 0;
    position: absolute;
    margin: -20px 0;
    padding: 0 5%;
    
    transition: .5s ease;
}

.project-description p,
.project-description a {
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.project:hover .project-title {
    opacity: 0;
}

.project:hover .project-description {
    opacity: 1;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.project1 {
    background: linear-gradient(rgba(10, 10, 10, 0.3), rgba(10, 10, 10, 0.3)),
        url(../images/ops-capstone-comp.jpg) no-repeat center;
    background-size: 100%;
}

.project2 {
    background: linear-gradient(rgba(10, 10, 10, 0.3), rgba(10, 10, 10, 0.3)),
        url(../images/advproj-lecture.jpg) no-repeat center;
    background-size: 100%;
}

.project3 {
    background: linear-gradient(rgba(10, 10, 10, 0.3), rgba(10, 10, 10, 0.3)),
        url(../images/micromouse.jpg) no-repeat center;
    background-size: 175%;
}

.project4 {
    background: linear-gradient(rgba(10, 10, 10, 0.3), rgba(10, 10, 10, 0.3)),
        url(../images/c3lecture.jpg) no-repeat center;
    background-size: 100%;
}

/* MAILING LIST */

.mailing-list {
    padding: 75px 75px;
    background-color: #F2F2F2;
}

.mailing-list form {
    padding: 20px 0;
}

.mailing-list input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    
    font-size: 18px;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 75%;
}

.mailing-list input:focus {
    box-shadow: none;
    border-color: black;
}

.mailing-list button {
    padding: 5px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    
    transition: .3s ease;
}

.mailing-list button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 992px) {
    .mailing-list {
        padding: 50px 20px;
    }
    .mailing-list input {
        width: 100%;
        font-size: 20px;
    }
}

/* CONTACT US */

.contact-info {
    background-color: #F2F2F2;
    padding-top: 40px;
    padding-bottom: 70px;
    border-top: solid 1px lightgrey;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

/* PHOTO REEL */

.photo {
    height: 175px;
/*    border: solid 1px black;*/
}

.photo1 {
    background: url(../images/ideahacks-cycool.jpg) no-repeat center;
    background-size: 100%;
}

.photo2 {
    background: url(../images/fallbbq-game.jpg) no-repeat center;
    background-size: 100%;
}

.photo3{
    background: url(../images/ieee-girls.jpg) no-repeat top;
    background-size: 100%;
}

.photo4 {
    background: url(../images/natbus.jpg) no-repeat center;
    background-size: 100%;
}

@media (max-width: 525px) {
    .photo1, .photo2,
    .photo3, .photo4 {
        background-size: 150%;
    }
}