<div class='footer container-fluid'>
        <div class='copyright col-sm-6'>
            <p>&copy; IEEE at UCLA</p>
        </div>
        <div class='footer-media col-sm-6'>
            <a href='https://www.facebook.com/groups/uclaieee/' target='_blank'><i class='fa fa-facebook-square fa-3x'></i></a>
            <a href='https://github.com/UCLA-IEEE' target='_blank'><i class='fa fa-github fa-3x'></i></a>
            <a href='https://uclaieee.slack.com/' target='_blank'><i class='fa fa-slack fa-3x'></i></a>
        </div>
</div>
