<div class="footer container-fluid">
  <div class="copyright">
    <p>Copyright IEEE at UCLA</p>
  </div>
  <div class="footer-media">
    <a href="https://www.facebook.com/groups/uclaieee/" target="_blank"
      ><i class="fab fa-facebook-square fa-3x"></i
    ></a>
    <a href="https://www.instagram.com/uclaieee/" target="_blank"
      ><i class="fab fa-instagram fa-3x"></i
    ></a>
    <a href="https://github.com/UCLA-IEEE" target="_blank"
      ><i class="fab fa-github fa-3x"></i
    ></a>
    <a href="https://discord.gg/yTR6XUS" target="_blank"
      ><i class="fab fa-discord fa-3x"></i
    ></a>
  </div>
</div>
