<!-- FULL LAB HOURS TABLE -->

<div class='content-wrapper' style="margin-top: 10px; margin-bottom: 20px;">
    <p>
        Since most students are attending remotely this quarter, we'll be holding
        our lab hours in our "the lab" VC on <a href="https://discord.gg/yTR6XUS">Discord</a>!
        Our Project and Lab Managers, Caleb and Chester, will be taking requests to
        use our actual lab on a case-by-base basis. Reach out to them on our
        <a href="https://uclaieee.slack.com/">Slack</a> or Discord for more info.
    </p>
</div>

<div class="table-responsive">
    <div class="table-wrapper">
        <table class="table1">
            <tr id="top">
                <th id="date">(PST)</th>
                <th id="date">MONDAY</th>
                <th id="date">TUESDAY</th>
                <th id="date">WEDNESDAY</th>
                <th id="date">THURSDAY</th>
                <th id="date">FRIDAY</th>
                <th id="date">SAT / SUN</th>
            </tr>
            <tr>
                <td id="time">10:00 AM</td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
            </tr>
            <tr>
                <td id="time">11:00 AM</td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
            </tr>
            <tr>
                <td id="time">12:00 PM</td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
            </tr>
            <tr>
                <td id="time">1:00 PM</td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
            </tr>
            <tr>
                <td id="time">2:00 PM</td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
            </tr>
            <tr>
                <td id="time">3:00 PM</td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
            </tr>
            <tr>
                <td id="time">4:00 PM</td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
            </tr>
            <tr>
                <td id="time">5:00 PM</td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
                <td>
                    <div class="flex-wrapper"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
