<div class="myNavbar">
  <div class="brand-container">
    <a href="/"><img src="/public/images/IEEE_logo_white.png" /></a>
    <a class="brand" href="/">IEEE at UCLA</a>
  </div>
  <div class="navbar-icon">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <ul class="nav-list">
    <li><a href="/projects">Projects</a></li>
    <li><a href="/workshops">Workshops</a></li>
    <li><a href="/outreach">Outreach</a></li>
    <li><a href="/lab">Lab</a></li>
    <div class="dropdown">
      <li><a href="/about">About</a></li>
      <div class="dropdown-content">
        <li><a href="/officers">Officers</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
      </div>
    </div>
  </ul>
</div>
<ul class="mobile-nav-list">
  <li><a href="/projects">Projects</a></li>
  <li><a href="/workshops">Workshops</a></li>
  <li><a href="/outreach">Outreach</a></li>
  <li><a href="/lab">Lab</a></li>
  <div class="responsive-dropdown">
    <li>
      <a href="/about">About</a>
      <span class="glyphicon glyphicon-chevron-down dropdown-arrow"></span>
    </li>
    <div class="responsive-dropdown-content">
      <li><a href="/officers">Officers</a></li>
      <li><a href="/sponsors">Sponsors</a></li>
    </div>
  </div>
</ul>
<script src="../../public/js/navbar.js?v=2023.12"></script>
