# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# MAIN ROUTES
RewriteRule ^about$ ./views/about.php
RewriteRule ^sponsors$ ./views/sponsors.php
RewriteRule ^lab$ ./views/lab.php
# RewriteRule ^projects$ ./views/about.html
RewriteRule ^officers$ ./views/officers.php

# ERROR PAGES
ErrorDocument 400 /views/error/400.shtml
ErrorDocument 401 /views/error/401.shtml
ErrorDocument 403 /views/error/403.shtml
ErrorDocument 404 /views/error/404.shtml
ErrorDocument 500 /views/error/500.shtml
