# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# MAIN ROUTES
RewriteRule ^about$ ./views/about.php
RewriteRule ^officers$ ./views/officers.php
RewriteRule ^projects$ ./views/projects.php
RewriteRule ^lab$ ./views/lab.php
RewriteRule ^sponsors$ ./views/sponsors.php
RewriteRule ^$ ./views/main.php

# ERROR PAGES
ErrorDocument 400 /views/error/400.php
ErrorDocument 401 /views/error/401.php
ErrorDocument 403 /views/error/403.php
ErrorDocument 404 /views/error/404.php
ErrorDocument 500 /views/error/500.php
