# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# MAIN ROUTES
RewriteRule ^about$ ./views/about.php
RewriteRule ^sponsors$ ./views/sponsors.php
RewriteRule ^lab$ ./views/lab.php
# RewriteRule ^projects$ ./views/about.html
RewriteRule ^officers$ ./views/officers.php

# ERROR PAGES
ErrorDocument 404 /404.shtml
