/*----------- FRONT ---------------*/

.normal-head {
  text-transform: none;
  padding: 10px;
}

.front {
  background: linear-gradient(rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.2)), url("../images/about/pp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 30px 70px;
}

.front-descrip {
  max-width: 738px;
  margin: 20px auto 0;
  padding: 30px 40px;
}

.front h1 {
  display: inline-block;
  border-bottom: solid white 10px;
}

/*---------- CONTACT INFO -----------*/

.contact {
  padding: 50px 65px;
}

.contact-title h1 {
  display: inline-block;
  border-bottom: solid black 10px;
  padding: 0 0 8px;
}

.contact-info {
  text-align: center;
}

@media (max-width: 990px) {
  .contact-title {
    text-align: center;
  }
  .contact-title h1 {
    text-align: center;
  }
  .contact-info {
    margin-top: 20px;
  }
}

/*------------ COMPETITIONS -----------------*/

.competitions {
  display: block;
  padding-top: 20px;
  padding-bottom: 25px;
}

.comp-wrapper {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comp {
  color: white;
  max-width: 550px;
  margin: 0 10px 40px;
  padding: 40px 40px;
}

.micromouse {
  background: linear-gradient(rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.2)), url("../images/about/mouse.jpeg");
  background-size: 100%;
  padding: 25px;
}

.ideahacks {
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url("../images/about/hacks.jpg");
  background-size: 100%;
  padding: 25px;
}

@media (max-width: 767px) {
  .micromouse {
    margin-right: 0;
  }
}

.compdescrip {
  margin-top: 15px;
  padding: 10px;
}

.compdescrip p {
  margin-bottom: 10px;
}

.compdescrip a {
  font-size: 20px;
  color: white;
}

.comp-header {
  border-bottom: solid white 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: bold;
}

.background-grey {
  background-color: rgba(117, 120, 123, 0.6);
}

.background-light-grey {
  background-color: rgba(117, 120, 123, 0.2);
}

.comp-title {
  padding: 5px;
  border-bottom: solid black 10px;
  margin: 30px 0;
  display: inline-block;
}

@media (max-width: 400px) {
  .comp-title {
    /* "Competitions" is so long it couldn't fit on the screen */
    font-size: 30px;
  }
}

.title {
  padding: 50px 25px;
}

.title h1 {
  padding-bottom: 10px;
  border-bottom: solid white 10px;
  display: inline-block;
}

/*---------- GET INVOLVED SECTION --------------*/

.involved {
  padding-top: 50px;
  padding-bottom: 50px;
}

.involved h1 {
  display: inline-block;
  padding: 10px;
  border-bottom: solid white 10px;
}

.involvement-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.involvement {
  padding: 20px 40px;
  margin-top: 10px;
}

.involvement h2 {
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: solid white 1px;
  display: inline-block;
}

.involvement a {
  color: white;
  text-decoration: underline;
}

.involved .title {
  padding: 50px 40px;
}

.involved .title h1 {
  margin-bottom: 15px;
  padding-right: 5px;
  max-width: 250px;
}

.involve {
  padding: 10px 0;
  text-transform: uppercase;
}

.involve-about {
  padding: 0 30px 0 0;
}

.involved-sub {
  padding: 15px 20px;
}

.subhead {
  border-bottom: solid white 3px;
  padding-bottom: 7px;
}

.subtext {
  padding-top: 10px;
}

/*------------ SPAX -----------------*/

.spax-pic {
  width: 100%;
  max-width: 500px;
}

.spax h1 {
  border-bottom: solid black 10px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
}

.spax-about {
  margin: 0;
}

.spax {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 80px;
  padding-left: 90px;
  background-color: rgba(117, 120, 123, 0.2);
}

/*------------ SOCIALS -----------------*/

.social-pic {
  width: 100%;
  max-width: 500px;
}

.socials {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 80px;
  padding-left: 90px;
}

.socials .title {
  padding: 50px 0px;
}

.image-wrapper {
  padding-top: 0px;
}

@media (max-width: 990px) {
  .socials .title {
    text-align: center;
  }
}

/*----------- AWARDS SECTION ------------*/

.awards {
  padding: 50px 25px;
}

.year {
  max-width: 1000px;
  margin: 20px auto 0;
  padding: 10px 20px;
}

.year:hover {
  cursor: pointer;
}

.atitle {
  padding: 0 15px 10px;
  border-bottom: solid black 10px;
  display: inline-block;
}

.award-list {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 1000px;
  display: none;
}

.award {
  padding: 8px 0;
}

.award p {
  padding: 5px 0;
  text-transform: uppercase;
}

.glyphicon {
  float: right;
  transition: 0.3s ease;
}

.rotated {
  /* Used to style the rotating glyphicon-chevron-down */
  transform: rotate(180deg);
}

.show-more {
  margin-top: 30px;
  cursor: pointer;
}
