html, body {
    height: 100%; 
    background-color:rgba(51, 122, 183, 0.9);
}

.countdown-content {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
 }

.topleft{
	position: absolute;
    top:0;
}
h1 {
    letter-spacing: 3px;
    font-size: 80px;
    font-weight: 600;
}
h2{
	font-size: 75px;
}

p{
	font-size: 22px;
}

