.footer {
  background-color: #00629b;
  padding: 0px 40px;
  color: white;
}

.footer .copyright {
  padding-top: 22px;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.footer .footer-media {
  text-align: right;
}

.footer .fa {
  color: white;
  margin: 15px;
}

.footer .fa:hover {
  color: grey;
}

@media (max-width: 768px) {
  .footer .copyright {
    display: none;
  }
  .footer .footer-media {
    text-align: center;
  }
}
