.footer {
  background-color: var(--ieee-blue);
  padding: 0px 40px;
  color: white;
  font-family: Arial, sans-serif;
}

.footer .copyright {
  padding-top: 22px;
  margin: 0;
  font-weight: bold;
  font-size: 18px;

  float: left;
}

.footer .footer-media {
  text-align: right;
  float: right;
}

.footer .fab {
  color: white;
  margin: 15px;
}

.footer .fab:hover {
  color: grey;
}

@media (max-width: 768px) {
  .footer.container-fluid {
    padding: 11.8px 10px;
    height: 71.6px;
  }
  .footer .copyright {
    display: none;
  }
  .footer .footer-media {
    float: none;

    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .footer .fab {
    margin: 10px;
    font-size: 2em;
  }
}
