/* GENERAL ELEMENTS */
html, body {
    height: 100%;
}

p {
    font-size: 20px;
    margin: 0;
}

/* NAVBAR OVERRIDE */
body .myNavbar {
    background-color: transparent;
}

/* HOME BILLBOARD */

.home-billboard {
    height: 95%;
    background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)),
        url('../images/kenny.jpg') center no-repeat;
    background-size: cover;
}

.billboard-content {
    position: absolute;
    width: 667px;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.home-billboard img {
    width: 350px;
    padding-right: 25px;
    border-right: solid white 4px;
}

.ucla {
    color: white;
    font-size: 100px;
    font-weight: 600;

    position: absolute;
    margin: -26px 0 0 0;
    padding: 0 25px;
}

.billboard-content h1 {
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 8px;
    text-shadow: 0px 1px 2px #000000;

    margin: 20px 0 0 0;
}

@media (max-width: 690px) {
    .billboard-content {
        width: 400px;
    }
    .billboard-content h1 {
        font-size: 15px;
        letter-spacing: 10px;
    }
    .home-billboard img {
        width: 210px;
        padding-right: 25px;
    }
    .ucla {
        font-size: 54px;
        margin: -13px 0 0 0;
        padding: 0 25px;
    }
}

@media (max-width: 425px) {
    .billboard-content {
        width: 320px;
    }
    .billboard-content h1 {
        letter-spacing: 6.5px;
    }
    .home-billboard img {
        width: 165px;
        padding-right: 25px;
    }
    .ucla {
        font-size: 44px;
        margin: -10px 0 0 0;
        padding: 0 25px;
    }
}

/* DESCRIPTION AND MAILING LIST */

.description-container {
    background-color: #F2F2F2;
}

.description {
    background-color: #F2F2F2;
    padding: 80px 50px;
    border-right: solid lightgrey 2px;
}

.mailing-list {
    padding: 80px 75px;
    background-color: #F2F2F2;
}

.mailing-list form {
    padding: 20px 0;
}

.mailing-list input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;

    font-size: 18px;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 75%;
}

.mailing-list input:focus {
    box-shadow: none;
    border-color: black;
}

.mailing-list button {
    padding: 5px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;

    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;

    transition: .3s ease;
}

.mailing-list button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 992px) {
    .description {
        padding: 40px 20px 60px;
        border-left: none;
        border-bottom: solid lightgrey 2px;
    }
    .description p {
        font-size: 17px;
    }
    .mailing-list {
        padding: 50px 20px;
    }
    .mailing-list input {
        width: 100%;
        font-size: 20px;
    }
}

/* PROJECTS */

.projects .project {
    text-align: center;
    height: 175px;
    padding: 50px 0;
}

.project .project-title {
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 2px #000000;

    transition: .5s ease;
}

.project-description {
    opacity: 0;
    position: absolute;
    margin: -20px 0;
    padding: 0 5%;

    transition: .5s ease;
}

.project-description p,
.project-description a {
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.project:hover .project-title {
    opacity: 0;
}

.project:hover .project-description {
    opacity: 1;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.project1 {
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)),
        url(../images/ops-capstone-comp.jpg) no-repeat center;
    background-size: 100%;
}

.project2 {
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)),
        url(../images/advproj-lecture.jpg) no-repeat center;
    background-size: 100%;
}

.project3 {
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)),
        url(../images/micromouse.jpg) no-repeat center;
    background-size: 175%;
}

.project4 {
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)),
        url(../images/c3lecture.jpg) no-repeat center;
    background-size: 100%;
}

/* CONTACT US */

.contact-info {
    background-color: #F2F2F2;
    padding-top: 40px;
    padding-bottom: 70px;
    border-top: solid 1px lightgrey;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

/* PHOTO REEL */

.photo {
    height: 175px;
}

.photo1 {
    background: url(../images/ideahacks-cycool.jpg) no-repeat center;
    background-size: 110%;
}

.photo2 {
    background: url(../images/fallbbq-game.jpg) no-repeat center;
    background-size: 110%;
}

.photo3{
    background: url(../images/ieee-girls.jpg) no-repeat top;
    background-size: 110%;
}

.photo4 {
    background: url(../images/natbus.jpg) no-repeat center;
    background-size: 110%;
}

@media (max-width: 525px) {
    .photo1, .photo2,
    .photo3, .photo4 {
        background-size: 150%;
    }
}
