/*----------- GENERAL INFO AND LAB MAP ---------------*/

.info-page {
  padding: 50px 15px;
  max-width: 1010px;
  text-align: center;
  margin: 0 auto;
}

.info-page h1 {
  display: inline-block;
  border-bottom: solid black 10px;
  padding: 0 15px 5px;
  margin-bottom: 15px;
}

.info-page .lab-map {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0 40px;
}

/*------------- LAB HOURS --------------*/

.lab-hours {
  padding-left: 15px;
  padding-right: 15px;
}

.lab-hours h1,
.resources h1 {
  border-bottom: solid black 10px;
  display: inline-block;
  margin: 0 auto;
  padding: 0 15px 5px;
}

.pbox {
  padding: 10px;
  max-width: 1010px;
  margin: 0 auto;
}

#blue-square {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: -0.1em;
  margin-bottom: -0.15em;
  background-color: #00629b;
}

table {
  margin-top: 15px;
  margin-bottom: 50px;
  border-collapse: collapse;
  border-spacing: 10px;
  border: 3px solid #ddd;
  /*  background-color: rgba(117, 120, 123, 0.5);*/
}
.table-wrapper {
  margin: auto;
  display: inline-block;
}
.lab-hours,
.resources {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

th,
td {
  font-size: 16px;
  text-align: left;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}
th#date {
  font-weight: bold;
  color: white;
  font-size: 17px;
}
td#time {
  font-weight: bold;
  font-size: 17px;
}
td {
  position: relative;
}
tr:nth-child(even) {
  background-color: white;
}
tr#top,
td.happy-hour {
  background-color: #00629b;
  color: white;
}

/* Tooltips */
.flex-wrapper {
  display: flex;
  align-items: center;
}

.abilities {
  display: flex;
  align-items: center;
  position: absolute;
  left: calc(100% - 5px);
  padding: 10px 5px;
  z-index: 1;

  color: black;
  background-color: white;
  -webkit-filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));

  visibility: hidden;
}

.abilities::before {
  content: " ";
  position: absolute;
  left: -5px;
  z-index: -1;

  transform: rotate(45deg);

  border: 10px solid white;
}

.abilities[data-col="5"] {
  left: unset;
  right: 100%;
}

.abilities[data-col="5"]::before {
  border: transparent;
}

.abilities[data-col="5"]::after {
  content: " ";
  position: absolute;
  right: -5px;
  z-index: -1;

  transform: rotate(45deg);

  border: 10px solid white;
}

.abilities .inner-wrapper {
  display: flex;
}

.abilities span {
  display: inline-block;
  margin: 0 5px;
}

.abilities .classes {
  width: 100px;
}

.abilities p {
  border-bottom: 2px solid black;
  margin-bottom: 0.3em;
}

.abilities div {
  padding-left: 5px;
}

.abilities .classes div {
  max-height: 90px;
  overflow-y: auto;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2) inset;
}

td:hover .abilities {
  visibility: visible;
}

@media (max-width: 1400px) {
  .abilities[data-col="4"] {
    left: unset;
    right: 100%;
  }

  .abilities[data-col="4"]::before {
    border: transparent;
  }

  .abilities[data-col="4"]::after {
    content: " ";
    position: absolute;
    right: -5px;
    z-index: -1;

    transform: rotate(45deg);

    border: 10px solid white;
  }
}

@media (max-width: 1075px) {
  .abilities[data-col="3"] {
    left: unset;
    right: 100%;
  }

  .abilities[data-col="3"]::before {
    border: transparent;
  }

  .abilities[data-col="3"]::after {
    content: " ";
    position: absolute;
    right: -5px;
    z-index: -1;

    transform: rotate(45deg);

    border: 10px solid white;
  }
}

@media (max-width: 1052px) {
  th,
  td {
    font-size: 15px;
  }
  th#date,
  td#time {
    font-size: 13px;
  }
}

/*----------------- GENERAL RESOURCES --------------*/

.resources {
  padding: 40px 15px 60px;
  max-width: 1010px;
  margin: 0 auto;
}

.resource {
  padding: 20px 0;
}

.resources-info {
  text-align: left;
  padding-top: 30px;
}

.thin {
  padding-bottom: 0px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  display: inline-block;
  font-weight: bold;
}
