.background-white {
  background-color: white;
}

/* BACKGROUND */
.main-billboard {
  height: 580px;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url("../images/OPS.jpg") center no-repeat;
  background-size: cover;
}

.billboard-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  display: inline-block;
  max-width: 1000px;
}

.billboard-logo {
  width: 100%;
  display: inline-block;
}

.main-billboard img {
  width: 400px;
  padding-bottom: 80px;
  display: inline-block;
}

.ucla {
  font-weight: bold;
  font-size: 123px;
  color: white;
  letter-spacing: 3px;
  padding: 0 0 0 30px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0.8;
}

.billboard-subtext {
  color: white;
  letter-spacing: 5px;
}

@media (max-width: 990px) {
  .billboard-logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .main-billboard img {
    width: 180px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    margin-right: 10px;
  }
  .ucla {
    font-size: 52px;
    margin-bottom: 10px;
    padding: 0;
  }

  .billboard-subtext {
    font-size: 30px;
  }
}

/*----------- DESCRIPTION AND MAILING LIST -------------*/

.description {
  padding: 100px 5%;
  display: flex;
}

.description h1 {
  border-bottom: solid black 10px;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.left-column {
  border-right: solid black 5px;
  padding-right: 60px;
}

.aboutus {
  padding-top: 5px;
}

.mailing-title {
  padding-left: 60px;
  padding-right: 0;
  padding-top: 10px;
}

.mailing-title h1 {
  border-bottom: none;
  line-height: 1.2;
}

.mailing-subtext {
  text-transform: none;
  padding-bottom: 15px;
}

.button-join {
  margin-top: 50px;
  color: white;
}

/*------------------- EVENTS ---------------------------*/

.container-padding {
  padding-bottom: 40px;
  padding-top: 40px;
}

.events {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events-column {
  padding-bottom: 20px;
}

.events h1 {
  border-bottom: solid white 10px;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.events a {
  color: white;
  text-decoration: underline;
}

.events a:hover {
  color: #b5b5b5;
  text-decoration: none;
}

.events-subtext {
  padding-top: 5px;
}

.events-slider {
  overflow-x: auto;
  white-space: nowrap;
}

.event-card {
  display: inline-block;
  vertical-align: top;
  height: 200px;
  width: 300px;
  padding: 20px;
  margin: 0 10px;

  white-space: normal;

  background-color: white;
  color: #333333;
}

.event-card h3 {
  font-family: Arial, sans-serif;
  border-bottom: solid #333333 3px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.event-card h4 {
  font-size: 15px;
  margin: 0;
  line-height: 1.5;
}

.event-card a {
  color: #337ab7;
  text-decoration: none;
}

.event-card a:hover {
  color: #23527c;
  text-decoration: underline;
}

.events .events-slider h1 {
  border-bottom: none;
  text-transform: none;
}

/*----------- LAB HOURS --------------------------*/

.lab-hours {
  padding: 60px 3%;
  text-align: center;
}

.lab-hours h1 {
  display: block;
  padding: 0 10px 5px;
  border: none;
}

/*------------------- BLOG ---------------------------*/

.blog {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog h1 {
  border-bottom: solid white 10px;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.blog .info a {
  color: white;
  text-decoration: underline;
}

.blog .info a:hover {
  color: #b5b5b5;
  text-decoration: none;
}

.blog-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: black;
}

.blog .post {
  display: inline-block;
  padding: 15px 20px;
  max-width: 400px;
  max-height: 400px;
  min-width: 250px;

  background: white;
  color: unset;
}

.blog .post:hover,
.blog .post:focus {
  text-decoration: none;
}

.blog .post .post-fade {
  position: relative;
  max-height: 320px;
  overflow: hidden;
}

.blog .post .post-fade::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 260px, white);
  pointer-events: none;
}

.blog .post h2 {
  text-transform: none;
  line-height: 1.42857143;
}

.blog .post h2.title {
  margin-bottom: 15px;
  border-bottom: 3px solid #00629b;
}

.blog .post p {
  font-size: 16px;
}

.blog .post img {
  display: block;
  margin: 20px auto;

  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.blog .info {
  position: relative;
  margin-top: 15px;
}

.blog .info .name {
  font-size: 16px;
}

.blog .info .position {
  font-size: 14px;
}

.blog .info .date {
  position: absolute;
  bottom: 0;
  right: 0;

  font-size: 14px;
}

/*---------- INSTAGRAM / FLICKR STUFF ----------------*/

.instagram {
  padding: 30px 5% 50px;
}

.instagram h1 {
  border-bottom: solid black 10px;
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 5px;
}

.handle {
  color: #00629b;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  text-transform: none;
}

.handle:hover {
  text-decoration: underline;
}

.image-list {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  overflow-x: scroll;
}

.image-list img {
  margin: 0 5px 0 0;
}

@media only screen and (max-width: 1280px) {
  .blog .post {
    max-width: 600px;
  }

  .blog .post:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .description {
    display: block;
    top: 50%;
    bottom: 50%;
    text-align: center;
  }
  .left-column {
    border-right: none;
    padding-right: 10px;
    padding-left: 10px;
  }
  .mailing-title {
    text-align: center;
    padding: 50px 10px 0 10px;
  }
  .description h1 {
    padding-left: 20px;
  }
  .events,
  .blog {
    display: flex;
    text-align: center;
    flex-direction: column;

    padding: 30px;
  }
  .events h1,
  .blog h1 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .events p {
    padding-right: 0px;
  }
  .events-slider {
    white-space: normal;
    overflow-y: auto;
    max-height: 500px;
    max-width: 400px;
  }
  .event-card {
    margin: 10px 0;
    text-align: left;
  }

  .blog .blog-wrapper {
    flex-direction: column;
  }
  .blog .post {
    margin-top: 30px;
    text-align: left;
  }
  .blog .post:nth-child(2) {
    display: inline-block;
  }
}

@media only screen and (max-width: 990px) {
  .sheet {
    width: 100%;
    order: 12;
  }
  .lab-hours-wrapper {
    width: 100%;
    text-align: center;
    order: 1;
  }
  .lab-hours-wrapper h1 {
    text-align: center;
    padding-left: 0px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .lab-hours-wrapper h2 {
    text-align: center;
  }
}
