.background-white {
  background-color: white;
}

/* BACKGROUND */
.main-billboard {
  height: 580px;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url("../images/OPS.jpg") center no-repeat;
  background-size: cover;
}

.billboard-content {
  position: absolute;
  width: 53%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.billboard-logo {
  border-bottom: solid white 10px;
  width: 100%;
  display: inline-block;
}

.main-billboard img {
  float: left;
  width: 40%;
  padding-bottom: 5px;
}

.ucla {
  font-weight: bold;
  font-size: 90px;
  padding-bottom: 20px;
  color: white;
  letter-spacing: 3px;
  padding: 0 0 0 30px;
  text-transform: uppercase;
  position: absolute;
  display: inline-block;
  height: 60%;
  width: 70%;
}

.billboard-subtext {
  color: white;
  letter-spacing: 3px;
}

/* DESCRIPTION AND MAILING LIST */
.description {
  padding: 100px;
}

.description h1 {
  border-bottom: solid black 10px;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.left-column {
  border-right: solid black 5px;
  padding-right: 60px;
}

.aboutus {
  padding-top: 5px;
  line-height: 1.3;
}

.mailing-title {
  padding-left: 60px;
  padding-right: 0;
  padding-top: 30px;
}

.mailing-title h1 {
  border-bottom: none;
  line-height: 1.3;
}

.mailing-subtext {
  text-transform: none;
}

input[type="text"] {
  width: 50%;
  background-color: #c4c4c4;
  margin-right: 5px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
}
.button-join {
  margin-top: 30px;
}

/* EVENTS */
.container-padding {
  padding-bottom: 25px;
}

.events {
  padding: 60px;
}

.events-column {
  padding-bottom: 20px;
}

.events h1 {
  border-bottom: solid white 10px;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.events h3 {
  font-family: Arial, sans-serif;
  display: inline-block;
  border-bottom: solid white 1px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.events-subtext {
  padding-top: 5px;
}

.bottom-space {
  padding-bottom: 20px;
}

.col-sm-3 h4 {
  font-size: 15px;
  border-bottom: solid white 1px;
  display: inline-block;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-sm-3 p {
  padding-right: 40px;
}

/*LAB HOURS*/
.lab-hours {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
}

.lab-hours h1 {
  text-align: right;
  color: #00629b;
  border-bottom: solid black 10px;
  display: inline-block;
  padding-left: 20px;
  padding-bottom: 5px;
  margin: 50px 0 10px 0;
}

.lab-hours h2 {
  text-align: right;
  color: #00629b;
}

.lab-hours iframe {
  height: 370px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.button-lab {
  margin-top: 15px;
  margin-bottom: 30px;
}

/*INSTAGRAM WIDGET*/
.pic-container {
  padding: 60px;
}

.pic-container h1 {
  border-bottom: solid black 10px;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.handle {
  color: #00629b;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  text-transform: none;
}

.instagram-button {
  padding-top: 77px;
  padding-bottom: 77px;
  border: none;
  background-color: rgba(117, 120, 123, 0.2);
}

.slides {
  width: 22%;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
  .description {
    display: block;
    top: 50%;
    bottom: 50%;
    text-align: center;
  }
  .left-column {
    border-right: none;
    padding-right: 10px;
    padding-left: 10px;
  }
  .mailing-title {
    text-align: center;
    padding: 50px 10px 0 10px;
  }
  .description h1 {
    padding-left: 20px;
  }
  .events {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

@media only screen and (max-width: 990px) {
  .sheet {
    width: 100%;
    order: 12;
  }
  .lab-hours-wrapper {
    width: 100%;
    text-align: center;
    order: 1;
  }
  .lab-hours-wrapper h1 {
    text-align: center;
    padding-left: 0px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .lab-hours-wrapper h2 {
    text-align: center;
  }
}

@media only screen and (min-width: 1100px) {
  div.lab-hours h1 {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1090px) and (max-widt: 1200px) {
  div.lab-hours h1 {
    margin: 50px 0 10px 0;
  }
}
