/* OFFICERS */

.officer-banner h1 {
  text-align: center;
  font-weight: bold;
}

.officer-card {
	padding: 15px;
  margin: 20px 0;
}

.officer-card img {
  width: 25%;
  height: auto;
  float: left;
  padding-right: 2%;
}
